[submodule "src/thirdParty/QDarkStyleSheet"]
	path = src/thirdParty/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet
[submodule "src/thirdParty/MBES-lib"]
	path = src/thirdParty/MBES-lib
	url = https://github.com/CIDCO-dev/MBES-lib
[submodule "WorldMagneticModel"]
	path = WorldMagneticModel
	url = https://github.com/CIDCO-dev/WorldMagneticModel
